@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Seymour+One&display=swap');

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
  background-image: url('https://i.imgur.com/VgAG5SQ.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  }

.box {
  align-items: center;
  background-color: #FF6347;
  border: 2px solid #0c2e38;
  color: $font-color;
  display: flex;
  height: 110px;
  width: 110px;
  justify-content: center;
  cursor: pointer;
}

.alt-color {
  background-color: $alt-color;
}

h1 {
  font-family: 'Seymour One', sans-serif;
  font-size: 4rem;
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 4px #0c2e38;
}

#win-lose, #draw, #taken {
  font-family: 'Seymour One', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  margin: 0.5rem auto;
  background-color: #0c2e38;

}

#message {
  font-family: 'Seymour One', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  color: #4F8A10;
  background-color: #DFF2BF;
  margin: 0.5rem auto;
}

#failure-message {
  font-family: 'Seymour One', sans-serif;
  text-align: center;
	font-size: 1.2rem;
  color: #D8000C;
  background-color: #FFD2D2;
  margin: 0.5rem auto;
}

.container {

max-width: 450px;
max-height: 450px;
margin-bottom: 50px;
}
@media only screen and (max-width: 500px) {
  .container {
  width: 300px;
  height: 300px;
}
}
.col-4 {
font-size: 100px;
color: #fff;
font-family: sans-serif;
font-weight: bold;
text-shadow: 4px 4px 4px  #0c2e38;
cursor: pointer;
}

.clear {
height: 40px;
display: flex;
flex-wrap: wrap;
width: 70%;
max-width: 420px;
padding: 5px;
margin: 0.5rem auto;
align-items: center;
border: 1px solid #000;
border-radius: .35rem;
}
